@media only screen and (max-width: 1200px) {
  .menu {
    .menu_item {
      padding-right: 20px;

      .menu_link {
        font-size: 11px;
      }
    }
  }
  .promo {
    .promo_header {
      font-size: 50px;
    }
  }
  .footer_container .footer_flex {
    width: 43%;
  }
  .footer_download {
    width: 37%;
    flex-direction: column;
  }
  .subheader .subheader_call {
    margin-top: -45px;
  }
}

@media only screen and (max-width: 991px) {
  .menu {
    .menu_item {
      padding-right: 10px;
    }
  }
  header .subheader_official {
    font-size: 12px;
  }
  .menu .menu_item .menu_link {
    font-size: 10px;
  }
  .job_img .job_icon {
    width: 110%;
    height: 75%;
  }
  .footer_download img {
    width: 100px;
  }
  .footer_download {
    flex-direction: column;
    align-items: flex-end;
  }
  .footer_container .footer_flex {
    width: 50%;
  }
  .subheader .subheader_logo img {
    width: 100%;
  }
  .subheader .subheader_phone {
    font-size: 18px;
  }
  .subheader .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .promo {
    .promo_header {
      font-size: 30px;
    }
    .promo_subheader {
      font-size: 20px;
    }
  }
  .job {
    .job_container {
      flex-direction: column;
    }
    .job_width {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer_flex .footer_link_descr a {
    text-align: center;
  }
  .footer_container .footer_icons {
    flex-direction: column;
  }
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.6s;
  }
  .menu_active {
    left: 0;
  }
  .menu .menu_item {
    margin: 10px 0;
    padding-right: 0;
    border: none;
  }
  .menu .menu_item .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
    margin-bottom: -2px;
  }
  .subheader .subheader_call {
    margin-top: -45px;
  }
  .subheader .xs-hidden {
    display: none;
  }
  .subheader .xs-visible {
    display: block;
  }
  .subheader .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader .subheader_btn {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
  }
}
