$main-color: #1eacc7;
$second-color: #ff5656;
@mixin btn_hover {
  &:hover {
    background-image: none;
    background-color: $main-color;
  }
}
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

header {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 50px;
  background-color: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;

  .menu_link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    border-right: 2px dotted black;
    padding-right: 28px;
  }
}

.subheader {
  width: 100%;
  position: absolute;
  margin-top: 50px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);

  &_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
  }

  &_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
  }

  &_call {
    margin-top: 19px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-align: right;
  }

  &_phone {
    display: block;
    margin-top: 8px;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
    line-height: 12px;
  }

  &_btn {
    width: 172px;
    height: 46px;
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 19px;
    border-radius: 4px;
    @include btn_hover;
  }
}

.promo {
  min-height: 800px;
  background: url(/img/background_promo.jpg) center (center / cover) no-repeat;
  padding: 150px 0 135px 0;

  &_header {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    text-align: center;
  }

  &_subheader {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
  }

  &_descr {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px;
  }

  &_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    @include btn_hover;
  }
}

.job {
  padding: 120px 0 123px 0;

  &_row {
    margin: 40px 0 35px 0;
  }

  &_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0 18px auto;
    background-color: #1eacc7;
    width: 113px;
    height: 113px;
    border-radius: 100%;
    padding: 22px 14px;
  }

  &_text {
    margin-bottom: 35px;
  }

  &_descr {
    color: #1eacc7;
    vertical-align: center;
  }

  &_start {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    &-1 {
      color: #fff;
    }
  }

  &_advantage {
    background-color: #000000;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 110px;
    margin: 0 auto;

    margin-bottom: 38px;
  }

  &_center {
    width: 341px;
  }
}
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url(../img/mobile_bg.png) center (center/ cover) no-repeat;
  .row {
    margin-top: 32px;
  }
  .subtitle {
    color: #222222;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 19px;
  }

  &_item {
    position: relative;
    height: 280px;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px;
    &_1 {
      background: url(../img/mobile_1.jpg) center (center/ cover) no-repeat;
    }
    &_2 {
      background: url(../img/mobile_2.jpg) center (center/ cover) no-repeat;
    }
    &_3 {
      background: url(../img/mobile_3.jpg) center (center/ cover) no-repeat;
    }
    &_4 {
      background: url(../img/mobile_4.jpg) center (center/ cover) no-repeat;
    }
    &_5 {
      background: url(../img/mobile_5.jpg) center (center/ cover) no-repeat;
    }
    &_6 {
      background: url(../img/mobile_6.jpg) center (center/ cover) no-repeat;
    }
    &_subtitle {
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }
    &_plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 26px;
      height: 26px;
      bottom: 35px;
      background-color: #000000;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      border-radius: 100%;
      cursor: pointer;
      padding: 6px;
    }
  }
}
.uber {
  background-color: #070716;

  &_descr {
    background-color: #fff;
    text-transform: uppercase;
    color: #000000;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 110px;
    margin: 0 auto;
    margin-top: 56px;
  }
  &_header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 32px;
  }
  &_text {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 19px;
  }
  &_logo {
    margin-top: 56px;
    img {
      width: 100%;
    }
  }
}
.car {
  background: url(../img/background_car.jpg) center (center/ cover) no-repeat;

  &_logo img {
    width: 100%;
    transform: translateY(-134px);
  }
  &_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #222222;
    text-align: center;
    transform: translateY(-134px);
  }
}
